@import '../mixins/responsive';
.wrapper-carousel{
    width: calc(100%);

    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    gap:30px;
    padding: 20px;
    margin-top: 15px;
    &.active{
        @include desktop{
            
            animation: peerIn 0.7s ease-in-out;
        }
    }
    .cardAvis{
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.26);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 350px;
        padding: 15px;
        height: 450px;
        overflow: hidden;
        cursor: pointer;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none; 
        user-select: none; 
        img{
            border-radius: 150px;
            width: 150px;
            margin:  0 0 15px 0;
            aspect-ratio: 1/1;
            object-fit: cover;
            object-position: top;
            border: 1px solid black;
            -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/
        }
        p{
            font-size: 22px;
            text-align: center;
        }
        .name{
            font-weight: 600;
            width: 60%;
            letter-spacing: 1px;
            padding-bottom: 5px;
            border-bottom: 1px solid black;
        }
        .avis{
            margin-top: 5px;
            overflow-Y: scroll;
            padding-right: 5px;
            &::-webkit-scrollbar{
                width: 3px;
                border-radius: 150px;
            }
            &::-webkit-scrollbar-track{
                border-radius: 150px;
            }
            &::-webkit-scrollbar-thumb{
                background-color: #fd3f92;
                border-radius: 5px!important;
            }
        }
    }
    .point{
        background-color: rgb(15, 15, 15);
        width: 20px;
        cursor: pointer;
        height: 20px;
        border-radius: 150px;
        &.active{
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.555);
        background-color: #fd3f92;
        }
    }
    .navigation{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}
@keyframes peerIn{
    from{
      opacity: 0;
      transform: translateX(50px);
    }
    to{
     opacity: 1;
     transform: translateX(0px);

    }
  }