@import "../mixins/responsive";
.wrapper-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    height: 80px;
    font-size: 27px;
    width: 100%;
  margin: auto;
  max-width: 1250px;
  }
nav {
    position: sticky;
    top: 0px;
    z-index: 10;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.411);

  .logo {
        margin-left: 20px;
  }
  .list {
    margin-right: 20px;
    display: none;
    height: 100%;
    @include tablet {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 40px;
    }
    a {
      text-decoration: none;
      color: black;
      transition: all 0.25s ease-in-out;
      &:hover {
        color: #fd3f92;
      }
      &.active {
        color: whitesmoke;
      }
    }
  }
  .menu {
        margin-right: 20px;
        width: 50px;
        display: block;
        height: 100%;
        &:hover>path{
            fill: #fd3f92;
        }
        path{
            transition: all 0.25s ease-in-out;
        fill:black;
            
        }

    @include tablet {
      display: none;
    }
  }
}
.modalNav{
    display: none;

    &.active{
        top: 0;
        left: 0;
        z-index: 15;
        position: fixed;
        display: flex;
        width: 100%;
        height: 100vh;
        background-color: white;
        .wrapper{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            gap: 35px;
            .cross{
                position: absolute;
                width: 70px;
                
                height: 70px;
                right: 10px;
                top: 10px;
            }
            a{
                font-size: 42px;
                font-weight: bold;
                color: black;
                text-decoration: none;
                transition: 0.25s all ease-in-out;
                &:hover{
                    color: #fd3f92;
                }
            }
        }
    }
}